<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Icon -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google fonts -->

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="/js/script.js"></script>
    <title>Toms Pizza - Delicious Pizza on the Way</title>
</head>

<body>
    <!-- Navbar for >md -->
    <nav class="d-none d-md-flex navbar navbar-light" style="border-bottom: 2px solid orange">
        <a class="navbar-brand" href="/">
            <img src="../../images/tomspizza_logo_dual.jpg" width="250" class="d-inline-block align-top img-fluid ml-4"
                alt="TomsPizza">
        </a>
        <div class="accounts mr-3">
            <a href="/login" class="btn text-white" style="background-color: orange">
                Login
            </a>
            <a href="/signup" class="btn text-white" style="background-color: orange">
                Signup
            </a>
        </div>
    </nav>
    <!-- Navbar for <md -->
    <nav class="d-md-none justify-content-center navbar navbar-light" style="border-bottom: 2px solid orange">
        <a class="navbar-brand" href="/">
            <img src="../../images/tomspizza_logo_dual.jpg" width="250" class="d-inline-block align-top img-fluid"
                alt="TomsPizza">
        </a>
    </nav>
    <!-- Secondary navbar -->
    <nav class="d-md-none justify-content-center navbar navbar-light text-white nav2">
        <div class="accounts">
            <a href="/" class="mx-2 text-white">
                <i class="fas fa-home text-white"></i>
            </a>
            <a href="/pizza" class="mx-2 text-white">
                Pizza
            </a>
            <a href="/burgers" class="mx-2 text-white">
                Burgers
            </a>
            <a href="/beverages" class="mx-2 text-white">
                Beverages
            </a>
            <a href="/login" class="mx-2 text-white">
                Login
            </a>
            <a href="/signup" class="mx-2 text-white">
                Signup
            </a>
        </div>
    </nav>