<div class="container">
    <div class="heroDiv">
        <img src="../../images/2.png" alt="" class="img-fluid mt-3 hero">
    </div>

    <div class="pizza mt-3">
        <h4 class="text-center">
            <img src="../../images/pzIcon.png" alt="" class="img-fluid" style="width: 30px;">
            <span class="deliciousPizza">Delicious Pizza</span>
        </h4>
    </div>
</div>